:root {
    --primary-color: #ffffff;
    --secondary-color: #121416;
    --tertiary-color: #9CC973DB;
    --background-color: #333;
    --text-color: #f9f9f9;
    --border-color: #555;
    --contact-input-background-color: #444;
    --button-background-color: #0056b3;
    --button-hover-background-color: #004080;
}

.light_mode {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #d9ecc6;
    --text-color: #333;
    --background-color: #fff;
    --border-color: #ccc;
    --contact-input-background-color: #f9f9f9;
}

* {
    text-decoration: none;
    font-family: "Helvetica Neue", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.container {
    padding: 6vh 6vw;
    max-width: 3840px;
}

#hero {
    padding: 0 6vw;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: left;
}

.icon {
    cursor: pointer;
    height: 4.8rem;
    width: 4.8rem;
}

#home-icon {
    position: absolute;
    left: 4.8rem;
    top: 4.8rem;
}

#theme-icon {
    position: absolute;
    right: 4.8rem;
    top: 4.8rem;
}

h1 {
    font-size: 8.6rem;
}

h1 span {
    color: #669933;
}

h2 {
    font-size: 2.4rem;
    color: var(--text-color);
}

h3 {
    font-size: 1.6rem;
}


#arrow {
    border: 0.32rem solid var(--primary-color);
    border-bottom: 0;
    border-left: 0;
    bottom: 4.8rem;
    position: fixed;
    right: 50%;
    transform: rotate(135deg);
    height: 4.8rem;
    width: 4.8rem;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) rotate(135deg);
    }
    40% {
        transform: translateY(-3.2vh) rotate(135deg);
    }
    60% {
        transform: translateY(-1.6vh) rotate(135deg);
    }
}

#arrow.arrow-down {
    animation: moveDown 0.3s forwards;
}

@keyframes moveDown {
    0% {
        bottom: 4.8rem;
    }
    100% {
        bottom: calc((4.8rem) - 8.6rem);
    }
}

#arrow.arrow-up {
    animation: moveUp 0.3s forwards;
}

@keyframes moveUp {
    0% {
        bottom: calc((4.8rem) - 8.6rem);
    }
    100% {
        bottom: 4.8rem;
    }
}


#bio {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-color: var(--tertiary-color);
}

#bio.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

#bio img {
    width: 480px;
    justify-self: center;
    border-radius: 50%;
}

#bio-text {
    display: flex;
    flex-direction: column;
}

#bio-text p {
    font-size: 1.6rem;
    text-align: justify;
    color: var(--text-color);
}



#latest-projects.container, #projects-gallery.container, #contact.container {
    text-align: center;
}

.projects-grid {
    gap: 3.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project {
    padding: 3.2rem;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    transition: transform 0.3s ease;
}

.project a {
    cursor: pointer;
    color: var(--button-background-color);
}

.project a:hover {
    color: var(--button-hover-background-color);
}

.project img {
    width: 320px;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-1rem);
}

.project:hover img {
    transform: scale(1.05);
}


.filter-button, #contact-form button{
    color: white;
    padding: 1rem;
    margin: auto 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    background-color: var(--button-background-color);
    transition: var(--button-background-color) 0.3s ease;
}

.filter-button:hover, #contact-form button:hover {
    background-color: var(--button-hover-background-color);
}

.project-description {
    display: none;
}

.project-description.active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 80vw;
    height: 80vh;
    overflow-y: auto;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project.active {
    z-index: 999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
}


#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    background-color: var(--tertiary-color);
}

#contact-form {
    color: var(--text-color);
    background: var(--background-color);
    padding: 3.2rem;
    width: 480px;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

#contact-form input,
#contact-form textarea {
    color: var(--text-color);
    width: 100%;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: var(--contact-input-background-color);
}

#footer {
    color: white;
    background: black;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#footer p {
    font-size: 3.2rem;
    margin: auto 3.2rem;
}


.opacity-up {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.opacity-down {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.showed {
    display: block;
}

.hidden {
    display: none;
}
